<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>CoWork Spaces</mat-card-title>
            <br>
            <mat-card-subtitle>Inicia Sesión</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="card-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="john.smith@email.com">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="form.get('email')?.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('email')">
                        Enter a valid email
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('password')?.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div *ngIf="error" class="error-message">
                    <mat-icon>error</mat-icon> {{ error }}
                </div>

                <button mat-raised-button color="primary" type="submit" class="full-width login-btn"
                    [disabled]="form.invalid || loading">
                    <mat-spinner *ngIf="loading" diameter="20" />
                    <span *ngIf="!loading">Sign In</span>
                </button>

            </form>
        </mat-card-content>

        <mat-card-footer class="hint">
            Default admin: <span>john.smith@email.com</span>

            <br>
            Default password: 12345678
        </mat-card-footer>

    </mat-card>
</div>